/* 
    Document   : stilo
    Created on : 18/08/2015, 00:08:03
    Author     : YuriNasci
    Description:
        Purpose of the stylesheet follows.
*/
.i2Style{
font:bold 15px Arial, "Comic Sans MS", cursive, sans-serif;
font-style:normal;
color:#ffffff;
background:#000000;
border:2px inset #5f6070;
border-radius:10px 10px 10px 10px;
-moz-border-radius:10px 10px 10px 10px;
-webkit-border-radius:10px 10px 10px 10px;
width:9px;
padding:5px 20px;
cursor:pointer;
margin:0 auto;
}
.i2Style:active{
cursor:pointer;
position:relative;
top:2px;
}


table {
    background: black;
}

#calculo {
    text-align: right;
    font-family: "lcd";
    color: black;
    font-size: 17px;
    background: #e3e3e3;
}

@font-face {
    font-family: "lcd";
    src: url("DIGIT-LCD.ttf");
}
